
<h1 class="center">Posts</h1>

{{#if posts}}
    {{posts.length}} {{format_plural "post" posts.length}}
    
    <ul class="blog-list">
    {{#each posts as | post |}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
    </ul>

{{else}}
    <p class="center">Create a post!</p>
{{/if}}