* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(38, 0, 255);
  font-size:16px;
  background-color: #b6d3ff;
}

header h1{
  text-align: center;
}

.mt10{margin-top:10px;}
.mt20{margin-top:20px;}

nav{
  background-color:rgb(19, 15, 255);
  padding:10px 18px;
}

nav a{
  text-decoration:none;
  padding:0 10px;
}

nav a:hover{
  text-decoration:underline;
}

nav a, nav a:visited{
  color:white;
}

button {
  background-color: #23d357;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #309900;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 10px;
}

form label {
  display: block;
}

.divDivider{
  margin:10px 0;
  border-bottom:1px solid #CCC;
}

.blog-list{
  list-style-type:none;
  margin:20px 0 0 0;
  padding:0;
}

.blog-list a{
  color:#1f67be;
  text-decoration:none;
  /* font-weight:bold; */
}

.blog-list a:hover{
  text-decoration:underline;
}

.blog-title{
  font-weight:bold;
}

.blog-list li{
  padding:12px 0;
  /* margin:10px 0; */
  border-bottom:1px solid #e7e7e7;
}

.blog-edit{
  margin:6px 0 0 0;
}

p{
  margin:4px 0 0 0;
  padding:0;
}

.blog-title:hover{
  text-decoration:underline;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.inline{
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 24px;
  text-align: center;
}

main {
  max-width:1200px;
  margin:0 auto;
  padding:20px;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #ff0000;
}

.delete-post-btn:hover {
  background-color: #ff3300;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7976ff;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #48aa3f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: rgb(20, 219, 2);
}

.comment-form {
  margin:20px 0 0 0;
}

.comment-form textarea {
  padding: 1%;
  margin:0;
  font-size:14px;
  /* margin-bottom: 10px; */
}

.comment{
  padding:8px;
}

.comment:nth-child(odd) {
  background-color: #f1f1f1;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.comments{
  margin-top:20px;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

.login-form{
  padding: 20px;
}

.signup-form{
  padding: 20px;
}

.center{
  text-align: center;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}

